<% include('partials/header') %>
<h1>Categories</h1>
<ul>
  <% categories.forEach(category => { %>
    <li>
      <a href="/categories/<%= category.id %>">
        <%= category.name %>
      </a>
    </li>
  <% }); %>
</ul>
<a href="/categories/new" class="btn">Add New Category</a>
<% include('partials/footer') %>
